@import url('https://fonts.googleapis.com/css2?family=Merriweather%20Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    
  }
  a{
    text-decoration: none;
  }
body{
    background-color: #22212C;
    font-family: 'Merriweather Sans';
}
#main-index{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#aside-index{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#projetos{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
    background-color: #302F3D;
}
.img-perfil{
    width: 158px;
    height: 158px;
    margin: 30px 0;
}
.nome-perfil{
    font-size: 26px;
    color: #837E9F;
    margin-bottom: 10px;
    word-break: break-all;
}
.funcao-perfil, .curso-perfil{
   font-size: 14px;
   padding-bottom: 5px;
    color: #837E9F;
}
.curso-perfil{
    padding-bottom: 40px;
}
#links{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
    background-color: #302F3D;
    gap: 20px;
    
}
.content-links{
    display: flex;
    color: #837E9F;
    gap: 15px;
    padding-left: 25px;
    align-items: center;
    font-size: 13px;
    width: 90%;
    word-break: break-all;
}
.content-links a{
    color: #837E9F;
    transition: 0.3s;
}
.content-links a:visited{
    color: #837E9F;
}
.content-links a:hover{
    opacity: 0.7;
}

.link-pri{
    padding-top: 25px;
}
.link-ult{
    padding-bottom: 25px;
}

#tecnologias{
    color: #837E9F;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
    background-color: #302F3D;
    align-items: center;
}
.content-tecno-title{
    width: 100%;
}
.title-tecno{
    font-size: 20px;
    padding: 25px 0 15px 20px;
    
}
.content-tecno{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
}
.tecno{
    background: #CB92B1;
border-radius: 30px;
    width: 30%;
    min-width: 80px;
}
.tecno p{
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-size: 11px;
    padding: 5px;
}

#experiencias{
    color: #837E9F;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
    background-color: #302F3D;
}

.lista-exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
}
.exp-itens{
    width: 70%;
    gap: 2px;
    
}
.exp-itens h2{
    font-size: 16px;
    padding-bottom: 2px;
}
.exp-itens p{
    font-size: 12px;
    padding-bottom: 2px;
}
.cargo{
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}


#educacao{
    color: #837E9F;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
    background-color: #302F3D;
}

#title-projetos{
    color: #837E9F;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
    background-color: #302F3D;
    align-items: center;
}
#title-projetos h2{
    padding: 25px 0 25px 30px;
    font-size: 22px;
    
}
#title-projetos a{
    padding-right: 30px;
    transition: 0.3s;
}
#title-projetos a:visited, .redirecionamento a:visited{
    color: #837E9F;
}
#title-projetos a:hover, .redirecionamento a:hover{
    opacity: 0.7;
}
.segura-all-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
#pokedex, #lobinho, #calc, #web{
    color: #837E9F;
    display: flex;
    width: 46%;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 20px;
    background-color: #302F3D;
    min-width: 230px;
}

.title-projeto{
    font-size: 20px;
    padding: 0 0 15px 20px;
}
.title-projeto a{
    color: #837E9F;
    transition: 0.3s;
}
.title-projeto a:visited{
    color: #837E9F;
}
.content-projetos p{
    padding: 0 0 15px 20px;
    font-size: 14px;
}
.content-projetos h4{
    padding: 0 0 15px 20px;
    font-size: 14px;
    color: #736ba6;
}
.title-projeto a:hover{
    opacity: 0.7;
}
.redirecionamento{
    padding: 25px 0 20px 25px;
    display: flex;
    align-items: center;
    gap: 18px;
}
.content-projetos{
    display: flex;
    flex-direction: column;

}
.content-projetos > a{
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 25px;
    transition: 0.3s;
}
.sem-margin{
    margin-bottom: 0;
}
.content-projetos img, .content-projetos video{
    width: 100%;
    transition: 0.3s;
}
.content-projetos video{
    margin-bottom: 25px;
}

@media(max-width:1050px){
    .funcao-perfil, .curso-perfil{
        font-size: 13px;
        text-align: center;
    }
    .nome-perfil{
        font-size: 24px;
        text-align: center;
    }
}
@media(max-width:975px){
    .tecno{
        width: 43%;
    }
}
@media(max-width:863px){
    .img-perfil{
        width: 140px;
        height: 140px;
    }
    .segura-all-projetos{
        justify-content: center;
    }
    #pokedex, #lobinho, #calc, #web{
        width: 80%;
    }
    #title-projetos h2{
        font-size: 20px;
    }
    #title-projetos a{
        font-size: 14px;
    }
    
}
@media(max-width:790px){
    .content-links a, .nome-link{
        font-size: 12px;
    }
    .content-links{
        gap: 10px;
        padding-left: 15px;
    }
    .funcao-perfil, .curso-perfil {
        font-size: 12px;
        text-align: center;
    }
    .nome-perfil{
        font-size: 20px;
    }
}
@media(max-width:640px){
    .title-tecno{
        font-size: 16px;
    }
    .exp-itens h2,.cargo{
        font-size: 13px;
    }
    .exp-itens p{
        font-size: 11px;
        padding-bottom: 5px;
    }
    .content-links a, .nome-link{
        font-size: 11px;
    }
    .nome-perfil{
        font-size: 16px;
    }
    .funcao-perfil, .curso-perfil {
        font-size: 11px;
    }
    .img-perfil {
        width: 120px;
        height: 120px;
    }
    #aside-index{
        width: 36%;
    }
    .content-links{
        gap: 7px;
        padding-left: 10px;
    }
    .tecno{
        min-width: 70px;
        
    }
    .tecno p{
        font-size: 10px;
    }
    #title-projetos h2{
        font-size: 16px;
    }
    #title-projetos a {
        font-size: 11px;
    }
    .redirecionamento a{
        font-size: 14px;
    }
    .title-projeto{
        font-size: 16px;
        padding: 0 0 10px 15px;
    }
    .content-projetos p,.content-projetos h4{
        font-size: 11.5px;
    }
    
}
@media(max-width:516px){
    .nome-perfil {
        font-size: 14px;
    }
    .img-perfil {
        width: 105px;
        height: 105px;
    }
    #pokedex, #lobinho, #calc, #web{
        width: 15%;
    }
    .redirecionamento{
        padding: 20px 0 20px 10px;
    }
    .tecno p{
        font-size: 8px;
    }
    .tecno {
        min-width: 60px;
    }
    #projetos{
        width: 55%;
    }
}
@media(max-width:450px){
    .tecno {
        min-width: 55px;
    }
}
@media(max-width:412px){
    .content-tecno{
        justify-content: center;
    }
    .tecno {
       width: 70%;
    }
}

